body{
	background-color: #f0f0f0;
	font-family: 'Raleway', sans-serif;
}
.selamat{
	font-size: 30px;
	margin: auto;
	width: 70%;
	color: #4B4A48;
    /*border: 3px solid #46C67B;*/
    text-align: center;
    padding-top: 30px;
}
#wrapper {
	min-height:100%;
	position:relative;
}
#header {
	background:#ededed;
	padding:10px;
}
#content {	
	padding-bottom: 80px;
}
#footer {
	width:100%;
	position:absolute;
	bottom:0;
	left:0;
	height: 200px;
}

.label-rounded {
  border: 4px solid #48C780;box-shadow: 0 0 5px #F5F5F5;border-radius: 30px;padding: 10px 11px;
}
